<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hi, this is test page for find objects!
{{inf1 | json }}
<br>
id = {{inf1.lawId}}
<br>
name = {{inf1.lawName}}
<br>
type = {{inf1.lawType}}
<br>


<div class="form-group"><!--  submitForm-->
  <form [FormGroup]="form" (ngSubmit)="postData()">
  <label>lawName: </label>
  <input class="form-control" formControlName="lawName"/>
  <label>lawType: </label>
  <input class="form-control" formControlName="lawType"/>

  </form>


  <button type="button" class="btn btn-primary" (click)="postData()">Add</button>
</div>

<table class="table">
  <thead>
  <th scope="col">lawId</th>
  <th scope="col">lawName</th>
  <th scope="col">lawType</th>
  </thead>

  <tbody>
  <tr *ngFor="let Law of inf1">
    <td>{{Law.lawId}}</td>
    <td>{{Law.lawName}}</td>
    <td>{{Law.lawType}}</td>
  </tr>
  </tbody>

</table>


</body>
</html>

